* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", serif;
}

.header--transparent{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.header__logo {
    height: 8vh;
}







.hero--landing {
    background-image: url('assets/top-large.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__title {
    color: white;
    font-size: 4em;
}
.hero__subtitle {
    color: white;
    font-size: 1.5em;
}







.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}







.search-bar {
    background-color: #3C3C3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1em;
    gap: .5%;
}
.search-bar__input {
    padding: 1em;
    width: 20%;
    max-width: 300px;
    border-style: none;
}
.search-bar__button {
    background-color: #79B473;
    color: white;
    padding: 1em;
    border-style: none;
    width: 20%;
    max-width: 300px;
    font-size: 1.1rem;
    font-weight: 500;
}







.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-section__heading {
    color: #00A878;
}
.text-section__title {
    font-size: 2em;
}
.text-section__description {
    font-size: 1rem;
    width: 75%;
}
.text-section__button { 
    border-style: 2px solid;
    background-color: white;
    margin-top: 1.5em;
}

.text-section--landing {
    width: 50%;
    max-width: 560px;
    margin: 3em;
}





/* .card {
    width: 100%;
    padding: 10%;

}
.card__button {
    padding: 1em;
    cursor: pointer;
}
.card--landing {
    display: flex;
}

.card__item--information {
    background-color: #254441;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    width: 50%;
}
.card__item--experience {
    background-image: url(assets/lobby-wide.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */















footer {
    width: 100%;
    background-color: #3C3C3C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    width: 5em;
    margin: 1em;
}
.link-list {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    width: 30%;
}
.link-list__item {
    list-style: none;
}
.link-list__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.socials {
    margin: 1em;
    display: flex;
    flex-direction: row;
    gap: 5em;
}
.socials__icon {
    height: 3em;
    cursor: pointer;
}








